<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536364925052-m23f7430nles09q37pddpc3ndto7t157.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536364925052-m23f7430nles09q37pddpc3ndto7t157</string>
	<key>API_KEY</key>
	<string>AIzaSyDtfOZkrUDAZr_0CE4VLEVlo9axMyR4iQA</string>
	<key>GCM_SENDER_ID</key>
	<string>536364925052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TheOne.TheOneDoctor</string>
	<key>PROJECT_ID</key>
	<string>theone-doctor</string>
	<key>STORAGE_BUCKET</key>
	<string>theone-doctor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536364925052:ios:dd453b472686730e</string>
	<key>DATABASE_URL</key>
	<string>https://theone-doctor.firebaseio.com</string>
</dict>
</plist>